footer {
  padding: pxTorem(50px);
  border-top: 2px solid $line-03;

  @include tablet {
    padding: pxTorem(30px) pxTorem(20px);
  }


  .footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: pxTorem(40px);

    span {
      display: flex;
      align-items: center;
      position: relative;
      font-weight: 600;
      font-size: pxTorem(16px);
      color: $text-05;
      letter-spacing: 0.16px;

      +span {
        &::before {
          content: '';
          display: block;
          width: 1px;
          height: pxTorem(14px);
          background-color: $line-04;
          margin: 0 pxTorem(10px);
        }
      }
    }
  }

  .footer-link {
    display: flex;
    align-items: center;
    margin-bottom: pxTorem(20px);

    a {
      cursor: pointer;
      font-weight: 600;
      font-size: pxTorem(14px);
      line-height: 1;
      color: $text-05;

      @include tablet {
        font-size: 13px;
      }

      +a {
        margin-left: pxTorem(16px);

        @include tablet {
          margin-left: 12px;
        }
      }
    }
  }

  .footer-address {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include tablet {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &-inner {
      @include tablet {
        width: 100%;
      }

      >div {
        display: flex;
        align-items: center;


        @include tablet {
          width: 100%;
          flex-wrap: wrap;
          column-gap: 4px;
        }

        +div {
          margin-top: pxTorem(6px);

          @include tablet {
            margin-top: 0;
          }
        }
      }

      display: flex;
      flex-direction: column;

      span {
        font-weight: 300;
        font-size: pxTorem(13px);
        color: $text-03;

        @include tablet {
          // width: 100%;
          max-width: fit-content;
          line-height: 20px;
          color: $text-04;
        }

        +span {
          margin-left: pxTorem(14px);

          @include tablet {
            margin-left: 0;
          }
        }
      }
    }
  }

  .footer-copy {
    font-weight: 300;
    font-size: pxTorem(13px);
    color: $text-03;

    @include tablet {
      margin-top: pxTorem(10px);
    }
  }
}