.mockup-box {
  position: relative;
  width: pxTorem(624px);
  aspect-ratio: 624 / 960;

  >img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  @include tablet {
    // display: none;
    width: 100%;
    aspect-ratio: 375 / 577;
    max-width: pxTorem(750px);
  }
}

.mockup-inner {
  position: absolute;
  top: calc(100.78 / 960 * 100%);
  left: calc(137 / 624 * 100%);
  width: pxTorem(351px);
  aspect-ratio: 351 / 760;
  // border: 1px solid red;
  background-color: $bg;
  z-index: 1;

  @include tablet {
    width: 56.5%;
    // width: pxTorem(351px);
  }


  img {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(50px);
    opacity: 0;

    &.active {
      opacity: 1;
      transform: translateY(0px);
    }
  }



}

main.main {
  .sc-proxy {
    .content-01 {


      .nav-bar {
        margin-bottom: pxTorem(9.08px)
      }

      .bubble:nth-of-type(1) {
        margin-top: pxTorem(9.36px);
        max-width: fit-content;
      }
    }

    .content-02 {}

    .content-03 {}

    .content-04 {}
  }
}