.pagination-box {
  position: absolute;
  // position: sticky;
  right: pxTorem(50px);
  top: 50%;

  transform: translateY(-50%);
  // top: 0;

  .pagination-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pagination-item {
    width: pxTorem(10px);
    height: pxTorem(10px);
    background-color: $sub-blue-2;
    clip-path: circle(50% at 50% 50%);
    transition: all 0.5s;


    +.pagination-item {
      margin-top: pxTorem(10px);
    }

    &.active {
      width: pxTorem(10px);
      height: pxTorem(12px);
      background-color: $main-blue;
      clip-path: polygon(0% 52.037%, 0% 52.037%, 0.049% 50.766%, 0.195% 49.507%, 0.435% 48.265%, 0.769% 47.044%, 1.195% 45.848%, 1.71% 44.681%, 2.313% 43.549%, 3.003% 42.454%, 3.778% 41.403%, 4.636% 40.398%, 34.636% 7.67%, 34.636% 7.67%, 37.223% 5.315%, 40.134% 3.483%, 43.288% 2.175%, 46.604% 1.39%, 50% 1.128%, 53.396% 1.39%, 56.712% 2.175%, 59.866% 3.483%, 62.777% 5.315%, 65.364% 7.67%, 95.364% 40.398%, 95.364% 40.398%, 96.222% 41.403%, 96.997% 42.454%, 97.687% 43.549%, 98.29% 44.681%, 98.805% 45.848%, 99.231% 47.044%, 99.565% 48.265%, 99.805% 49.507%, 99.951% 50.766%, 100% 52.037%, 100% 81.818%, 100% 81.818%, 99.738% 84.767%, 98.98% 87.565%, 97.768% 90.174%, 96.141% 92.556%, 94.142% 94.675%, 91.812% 96.492%, 89.191% 97.971%, 86.322% 99.073%, 83.244% 99.762%, 80% 100%, 20% 100%, 20% 100%, 16.756% 99.762%, 13.678% 99.073%, 10.809% 97.971%, 8.188% 96.492%, 5.858% 94.675%, 3.859% 92.556%, 2.232% 90.174%, 1.02% 87.565%, 0.262% 84.767%, 0% 81.818%, 0% 52.037%);
    }

  }
}