.select-box {
  width: 100%;
  max-width: pxTorem(1160px);
  border: 1px solid $line-04;
  border-radius: 6px;
  min-height: 50px;
  padding: 13px 16px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: $text-05;
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: block;
    background: url('../images/icon/ico-down.svg') no-repeat center / cover;
  }

  >span {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &-options {
    position: fixed;
    width: 100%;
    flex-direction: column;
    width: 100%;
    max-width: pxTorem(1160px);
    // display: none;
    display: flex;
    background-color: $white;
    box-shadow: 0px 6px 12px 0px rgba(212, 214, 217, 0.45);
    border-radius: 6px;
    border: 1px solid $line-04;
    opacity: 1;
    transform: translateY(10px);
    transition: transform 0.2s, opacity 0.2s;
    display: none;

    &.active {
      display: flex;
      opacity: 1;
      transform: translateY(0);
    }

    li {
      padding: 13px 16px;
      cursor: pointer;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $text-05;
      transition: 0.2s;

      &.select,
      &:hover {
        color: $main-blue;
      }


    }
  }
}