.privacy {
  padding: 90px 0 160px;

  @include tablet {

    padding: pxTorem(50px) pxTorem(24px);
    overflow-x: hidden;

  }


  .inner {
    max-width: pxTorem(1160px);
    margin: 0 auto;

    @include tablet {
      width: 100%;
      max-width: 100%;
    }

    .sc-title {
      font-weight: 700;
      font-size: 40px;
      line-height: 54px;
      color: $text-05;
      margin-bottom: 50px;

      @include tablet {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.28px;
      }
    }

    .select-box {
      width: 100%;
      margin-bottom: 90px;
    }


    .privacy-box {
      .privacy-title {
        font-weight: 600;
        font-size: pxTorem(32px);
        line-height: calc(42/32);
        color: $text-05;
        margin-bottom: pxTorem(34px);

        @include tablet {
          font-size: 24px;
          font-weight: 600;
          line-height: 34px;
          letter-spacing: -0.24px;
        }
      }

      .privacy-desc {
        display: block;
        font-weight: 500;
        font-size: pxTorem(18px);
        line-height: calc(26 / 18);
        color: $text-05;
        margin-bottom: pxTorem(34px);

        @include tablet {
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        width: 100%;

        li {
          width: 100%;
          display: flex;
          font-weight: 400;
          font-size: pxTorem(18px);
          line-height: calc(26 / 18);
          color: $text-04;

          @include tablet {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
          }



          +li {
            margin-top: pxTorem(24px);
          }

          .number {
            margin-right: pxTorem(8px);
            font-weight: 400;
            font-size: pxTorem(18px);
            line-height: calc(26 / 18);
            color: $text-04;

            @include tablet {
              font-size: 18px;
              font-weight: 400;
              line-height: 26px;
            }

          }

          .content {
            flex: 1;
            display: flex;
            flex-direction: column;

            &>* {
              font-weight: 400;
              font-size: pxTorem(18px);
              line-height: calc(26 / 18);
              color: $text-04;

              @include tablet {}
            }


            .desc {
              flex: 1;
              display: flex;
              flex-direction: column;
            }

            >ul {
              margin-top: pxTorem(24px);

              @include tablet {
                margin-top: pxTorem(16px);
              }

              li {
                font-weight: 400;
                font-size: pxTorem(18px);
                line-height: calc(26 / 18);

                +li {
                  margin-top: pxTorem(16px);
                }
              }

            }
          }


        }
      }

      +.privacy-box {
        margin-top: pxTorem(60px);

        @include tablet {
          margin-top: pxTorem(50px);
        }
      }

      .sub-desc {
        margin-top: pxTorem(16px);

      }

      .table-box {
        position: relative;
        width: 100%;

        @include tablet {
          overflow-x: scroll;
        }

        table {
          width: 100%;
          border-top: 1px solid $black;

          @include tablet {
            min-width: 100%;
            width: max-content;

          }

          th,
          td {
            padding: pxTorem(16px) 0;
          }

          th {
            font-weight: 600;
            font-size: pxTorem(18px);
            line-height: calc(26 / 18);
            color: $text-05;
          }

          td {
            text-align: center;
            font-weight: 400;
            font-size: pxTorem(18px);
            line-height: calc(26 / 18);
            color: $text-05;

            ul {
              font-weight: 400;
              font-size: pxTorem(18px);
              line-height: calc(26 / 18);
              color: $text-05;
              display: flex;
              flex-direction: column;
              justify-content: center;
              // align-items: center;
              padding: 0 24px;


              li {
                display: flex;
                margin: 0;
                // text-align: center;
                text-align: left;
                width: fit-content;


                .dot {
                  width: 4px;
                  height: 4px;
                  margin-top: 9px;
                  border-radius: 50%;
                  margin-right: 8px;
                  background-color: $text-04;
                }
              }
            }
          }

          /* Border */

          tr {
            border-bottom: 1px solid $line-03;

          }

          td,
          th {


            +td,
            +th {
              border-left: 1px solid $line-03;
            }

          }
        }
      }



      .section-title {
        font-weight: 600;
        font-size: pxTorem(32px);
        margin-bottom: pxTorem(50px);
        color: $text-05;
      }

      article {
        +article {
          margin-top: pxTorem(60px);
        }

        .article-title {
          font-weight: 600;
          font-size: pxTorem(24px);
          line-height: calc(34 / 24);
          color: $text-05;
          margin-bottom: pxTorem(34px);
        }

        p {
          font-weight: 400;
          font-size: pxTorem(18px);
          line-height: calc(26 / 18);
          color: $text-04;

          +ul {
            margin-top: pxTorem(34px);
          }
        }

      }
    }
  }

  .mt-5 {
    margin-top: 5px;
  }
}